<md-sidenav-layout>

  <md-sidenav #sidenav mode="side" class="app-sidenav" [opened]="true">
    <md-toolbar color="primary">
    <img src="./assets/logo-inverse.png" class="logo" alt="">
      Material Admin
    </md-toolbar>

    <md-nav-list>
      <md-list-item *ngFor="let menu of menus">
        <md-icon class="app-nav-list-icon">{{ menu.icon }}</md-icon>
        <p>{{ menu.name }}</p>
      </md-list-item>
    </md-nav-list>

  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
  </md-toolbar>

  <div class="app-content">

    

  </div>

</md-sidenav-layout>
