<md-sidenav-layout>

  <md-sidenav #sidenav mode="side" class="app-sidenav" [opened]="true">
    <md-toolbar color="primary">
    <img src="./assets/logo-inverse.png" class="logo" alt="">
      Material Admin
    </md-toolbar>

    <md-nav-list>
      <md-list-item *ngFor="let menu of menus" routerLink="{{menu.link}}">
        <md-icon class="app-nav-list-icon">{{ menu.icon }}</md-icon>
        <p>{{ menu.name }}</p>
      </md-list-item>
    </md-nav-list>

  </md-sidenav>

  <md-toolbar color="primary">
    <button md-button class="md-icon-button" (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>

    <!-- This fills the remaining space of the current row -->
    <span class="app-toolbar-filler"></span>

    <button md-button class="md-icon-button" (click)="logout()">
      <md-icon>power_settings_new</md-icon>
    </button>

  </md-toolbar>

  <div class="app-content">

    

  </div>

</md-sidenav-layout>
